
/*
!wp-content/

!.gitignore
!.readme.md
!.editorconfig


wp-content/*
!wp-content/plugins/
wp-content/plugins/*
!wp-content/plugins/motopress-hotel-booking/
!wp-content/plugins/mphb-request-payment/
!wp-content/plugins/thepenthouse/

# ignore log files and databases
*.log
*.sql
*.sqlite

# ignore compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so

# ignore packaged files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# ignore node/grunt dependency directories
node_modules/